
@{
    ViewData["Title"] = "AskQuestion";
}

<div class="d-flex my-5 py-5">
    <div class="mx-auto col-md-6">
        <div class="card shadow rounded-4">
            <form class="p-5">
                <div class="mb-3">
                    <h3>Ask a New Question</h3>
                </div>
                <div class="mb-3">
                    <label for="exampleInputTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleInputTitle">
                </div>
                <div class="mb-3">
                    <label for="exampleInputTopic" class="form-label">Topic</label>
                    <input type="text" class="form-control" id="exampleInputTopic">
                </div>
                <div class="mb-3">
                    <label for="exampleInputDescription" class="form-label">Description</label>
                    <textarea class="form-control" rows="3" placeholder="Write in details"></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
