
@{
    ViewData["Title"] = "Dashboard";
}

<section>
    <div class="my-5 py-5 mx-lg-5">
        <div class="row">
            <div class="col-md-7 col-12 col-sm-12 mx-auto border-start" style="max-width: 50rem;">
                <h2 class="ms-2 position-relative mb-5">
                    Recent Questions
                     <span class="position-absolute top-0 end-0">
                        <a class="btn btn-danger" asp-area="User" asp-controller="Student" asp-action="AskQuestion">Ask Question</a>
                    </span> 
                </h2>

                <div class="border-bottom p-3" style="max-height: 14rem;">
                    <div class="card-header">
                        <h6 class="position-relative">
                            <a href="#" class="nav-link link-success">Computer Science</a>
                            <span class="position-absolute top-0 end-0 fw-normal">July 15, 2023</span>
                        </h6>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title line-clamp-2 mb-2"><a href="#" class="nav-link link-primary">An analysis of neural network algorithms’ accuracy for processing consumer purchase patterns.</a></h5>
                        <p class="card-text lh-2 line-clamp-3 text-justify">
                            We propose that neural networks will prove to be a valuable tool for marketers concerned with predicting consumer choice.
                            We will demonstrate that neural networks provide superior predictions regarding consumer decision processes. In the context of modeling consumer judgment and decision making,
                            for example, neural network models can offer significant improvement over traditional statistical methods because of their ability to capture nonlinear relationships associated with the use of noncompensatory decision rules.
                            Our analysis reveals that neural networks have great potential for improving model predictions in nonlinear decision contexts without sacrificing performance in linear decision contexts.
                        </p>
                    </div>
                    <div class="mt-2 d-flex">
                        <h6 class="text-secondary">Total Responses: 6</h6>
                        <h6 class="text-secondary ms-auto">Posted by:</h6>
                        <h6 class="text-secondary ms-2"><a href="#" class="nav-link link-dark">Anwar Hossain</a></h6>

                    </div>
                </div>

                <div class="border-bottom p-3" style="max-height: 14rem;">
                    <div class="card-header">
                        <h6 class="position-relative">
                            <a href="#" class="nav-link link-success">Computer Science</a>
                            <span class="position-absolute top-0 end-0 fw-normal">July 15, 2023</span>
                        </h6>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title line-clamp-2 mb-2"><a href="#" class="nav-link link-primary">An analysis of neural network algorithms’ accuracy for processing consumer purchase patterns.</a></h5>
                        <p class="card-text lh-2 line-clamp-3 text-justify">
                            We propose that neural networks will prove to be a valuable tool for marketers concerned with predicting consumer choice.
                            We will demonstrate that neural networks provide superior predictions regarding consumer decision processes. In the context of modeling consumer judgment and decision making,
                            for example, neural network models can offer significant improvement over traditional statistical methods because of their ability to capture nonlinear relationships associated with the use of noncompensatory decision rules.
                            Our analysis reveals that neural networks have great potential for improving model predictions in nonlinear decision contexts without sacrificing performance in linear decision contexts.
                        </p>
                    </div>
                    <div class="mt-2 d-flex">
                        <h6 class="text-secondary">Total Responses: 6</h6>
                        <h6 class="text-secondary ms-auto">Posted by:</h6>
                        <h6 class="text-secondary ms-2"><a href="#" class="nav-link link-dark">Anwar Hossain</a></h6>

                    </div>
                </div>

                <div class="border-bottom p-3" style="max-height: 14rem;">
                    <div class="card-header">
                        <h6 class="position-relative">
                            <a href="#" class="nav-link link-success">Computer Science</a>
                            <span class="position-absolute top-0 end-0 fw-normal">July 15, 2023</span>
                        </h6>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title line-clamp-2 mb-2"><a href="#" class="nav-link link-primary">An analysis of neural network algorithms’ accuracy for processing consumer purchase patterns.</a></h5>
                        <p class="card-text lh-2 line-clamp-3 text-justify">
                            We propose that neural networks will prove to be a valuable tool for marketers concerned with predicting consumer choice.
                            We will demonstrate that neural networks provide superior predictions regarding consumer decision processes. In the context of modeling consumer judgment and decision making,
                            for example, neural network models can offer significant improvement over traditional statistical methods because of their ability to capture nonlinear relationships associated with the use of noncompensatory decision rules.
                            Our analysis reveals that neural networks have great potential for improving model predictions in nonlinear decision contexts without sacrificing performance in linear decision contexts.
                        </p>
                    </div>
                    <div class="mt-2 d-flex">
                        <h6 class="text-secondary">Total Responses: 6</h6>
                        <h6 class="text-secondary ms-auto">Posted by:</h6>
                        <h6 class="text-secondary ms-2"><a href="#" class="nav-link link-dark">Anwar Hossain</a></h6>

                    </div>
                </div>




            </div>
            @* <div class="col-md-4 mt-4 mt-lg-0 ms-2">
                <h1 class="fs-3">Services</h1>
                <div class="my-3">
                    <ul class="list-unstyled">
                        <li class="nav-item my-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="DataCollection"><i class="fa-solid fa-database fa-sm"></i> Data Collection</a></li>
                        <li class="nav-item my-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ProposalSharing"><i class="fa-solid fa-handshake-angle fa-sm"></i> Proposal Sharing</a></li>
                        <li class="nav-item my-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="DatasetSubmission"><i class="fa-solid fa-table fa-sm"></i> Dataset Submission</a></li>
                    </ul>
                </div>
            </div> *@
        </div>
    </div>
</section>


