@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-body-tertiary">
    <div class="d-flex my-5 py-5">
        <div class="mx-auto col-md-4">
            <div class="card text-center shadow rounded-4">
                <div class="card-header display-6 fw-normal rounded-top-4 p-3">
                    Welcome Back!
                </div>
                <div class="card-body p-4 mb-1">
                    <h5 class="card-title mb-3">Student Teacher Q & A Platform</h5>
                    <p class="card-text"><span class="fw-bold">Sign In</span> to explore the discussions.</p>
                    <a class="btn btn-danger rounded-pill px-5" asp-area="" asp-controller="Auth" asp-action="Login">Sign In</a>
                    <p>or,<br /><span class="fw-bold">Sign Up</span> if you are a new user.</p>
                    <a class="btn btn-outline-danger rounded-pill px-5" asp-area="" asp-controller="Auth" asp-action="Register">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>
