@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-body-tertiary">
    <div class="m-5 p-5 mx-auto">
        <div class="card text-center col-6">
            <div class="card-header display-5">
                Welcome Back!
            </div>
            <div class="card-body">
                <h5 class="card-title">Student Teacher Q & A Platform</h5>
                <p class="card-text">Sign In to explore the discussions.</p>
                <a href="#" class="btn btn-primary">Sign In</a>
                <p>or, Sign Up if you are a new user.</p>
                <a href="#" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
